{{#each this}}
<form class="form">
   <p class="text">Ім'я: {{user}}</p>
   <p class="text">Вік: {{age}}</p>
   <p class="text">Айді: {{id}}</p>
   <button type="submit">відправити данні</button>
</form>
{{/each}}